@model IEnumerable<technova_ecommerce.Models.Entities.Category>

@{
    ViewData["Title"] = "View";
}

<h1>View All Items</h1>


<div class="accordion" id="accordionExample">
    @foreach (var item in Model)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@item.CategoryName" aria-expanded="true" aria-controls="collapseOne">
                    @item.CategoryName
                </button>
            </h2>
            <div id="#@item.CategoryName" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul>
                        @foreach(var product in item.Products)
                        {
                            <li>@product.ProductName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    } 
</div>